.about-us-container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.about-us-container > img {
    width: 80%;
}

.about-us-container > p {
    font-size: 20px;
    margin: 10px;
}

.about-us-container > h1 {
    font-size: 50px;
}


@media (max-width: 600px) {
 .about-us-container > p {
    font-size: 15px;
 }   
}