.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    margin: 5px;
    font-size: 25px;
    color: white;
}

a:visited {
    color: white;
}

.logout {
    font-size: 25px;
    color: white;
    margin: 5px;
}

.shopping-cart-icon {
    background-color: white;
    width: 40px;
    height: auto;
}