.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    margin: 5px;
    font-size: 25px;
    color: white;
}

a:visited {
    color: white;
}

.logout {
    font-size: 25px;
    color: white;
    margin: 5px;
}

.shopping-cart-icon {
    width: 40px;
    height: auto;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
     a, .logout{
        font-size: 16px;
    }
    .shopping-cart-icon {
        width: 25px;
    }
    .navbar-container{
        width: 100%;
    }
    
}