.footer-container {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.footer-links {
    width: 100%;
}

.footer-links > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
