#checkout-container {
    display: flex;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

#checkout-container > form{
    min-height: 100vh;
}

#checkout-title {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 1000px) {
    #checkout-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #checkout-title {
        text-align: center;
        width: 100%;
    }

}