.item-container {
    width: 100%;
    height: 100%;
}

.item-card {
    width: 40%;
    height: 100vh;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.item-card > img {
    width: 50%;
    margin: 10px;
}

.item-card > h1 {
    margin: 20px;
}

.item-card > p {
    font-size: 40px;
}